# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist

# Ignore local secret/config files
.env
.env.local
*.env
credentials.yml
config/secrets.yml
secret-*.key
*.pem
*.key